---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import BenefitsSection from '../components/BenefitsSection.astro';
import OffersSection from '../components/OffersSection.astro';
import DemoSection from '../components/DemoSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import FaqSection from '../components/FaqSection.astro';
import BlogSection from '../components/BlogSection.astro';
---

<Layout title="Solutions IA pour PME | Automatisez vos tâches">
	<main>
		<HeroSection />
		<BenefitsSection />
		<OffersSection />
		<DemoSection />
		<TestimonialsSection />
		<FaqSection />
		<BlogSection />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		margin: 0;
		padding: 0;
	}
</style>
